<a href="https://colab.research.google.com/github/rlakshmi2k24/Learning_journey_1/blob/main/chapter_appendix-tools-for-deep-learning/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using Jupyter Notebooks
:label:`sec_jupyter`


This section describes how to edit and run the code
in each section of this book
using the Jupyter Notebook. Make sure you have
installed Jupyter and downloaded the
code as described in
:ref:`chap_installation`.
If you want to know more about Jupyter see the excellent tutorial in
their [documentation](https://jupyter.readthedocs.io/en/latest/).


## Editing and Running the Code Locally

Suppose that the local path of the book's code is `xx/yy/d2l-en/`. Use the shell to change the directory to this path (`cd xx/yy/d2l-en`) and run the command `jupyter notebook`. If your browser does not do this automatically, open http://localhost:8888 and you will see the interface of Jupyter and all the folders containing the code of the book, as shown in :numref:`fig_jupyter00`.

![The folders containing the code of this book.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter00.png?raw=1)
:width:`600px`
:label:`fig_jupyter00`


You can access the notebook files by clicking on the folder displayed on the webpage.
They usually have the suffix ".ipynb".
For the sake of brevity, we create a temporary "test.ipynb" file.
The content displayed after you click it is
shown in :numref:`fig_jupyter01`.
This notebook includes a markdown cell and a code cell. The content in the markdown cell includes "This Is a Title" and "This is text.".
The code cell contains two lines of Python code.

![Markdown and code cells in the "text.ipynb" file.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter01.png?raw=1)
:width:`600px`
:label:`fig_jupyter01`


Double click on the markdown cell to enter edit mode.
Add a new text string "Hello world." at the end of the cell, as shown in :numref:`fig_jupyter02`.

![Edit the markdown cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter02.png?raw=1)
:width:`600px`
:label:`fig_jupyter02`


As demonstrated in :numref:`fig_jupyter03`,
click "Cell" $\rightarrow$ "Run Cells" in the menu bar to run the edited cell.

![Run the cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter03.png?raw=1)
:width:`600px`
:label:`fig_jupyter03`

After running, the markdown cell is shown in :numref:`fig_jupyter04`.

![The markdown cell after running.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter04.png?raw=1)
:width:`600px`
:label:`fig_jupyter04`


Next, click on the code cell. Multiply the elements by 2 after the last line of code, as shown in :numref:`fig_jupyter05`.

![Edit the code cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter05.png?raw=1)
:width:`600px`
:label:`fig_jupyter05`


You can also run the cell with a shortcut ("Ctrl + Enter" by default) and obtain the output result from :numref:`fig_jupyter06`.

![Run the code cell to obtain the output.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter06.png?raw=1)
:width:`600px`
:label:`fig_jupyter06`


When a notebook contains more cells, we can click "Kernel" $\rightarrow$ "Restart & Run All" in the menu bar to run all the cells in the entire notebook. By clicking "Help" $\rightarrow$ "Edit Keyboard Shortcuts" in the menu bar, you can edit the shortcuts according to your preferences.

## Advanced Options

Beyond local editing two things are quite important: editing the notebooks in the markdown format and running Jupyter remotely.
The latter matters when we want to run the code on a faster server.
The former matters since Jupyter's native ipynb format stores a lot of auxiliary data that is
irrelevant to the content,
mostly related to how and where the code is run.
This is confusing for Git, making
reviewing contributions very difficult.
Fortunately there is an alternative---native editing in the markdown format.

### Markdown Files in Jupyter

If you wish to contribute to the content of this book, you need to modify the
source file (md file, not ipynb file) on GitHub.
Using the notedown plugin we
can modify notebooks in the md format directly in Jupyter.


First, install the notedown plugin, run the Jupyter Notebook, and load the plugin:

```
pip install d2l-notedown  # You may need to uninstall the original notedown.
jupyter notebook --NotebookApp.contents_manager_class='notedown.NotedownContentsManager'
```

You may also turn on the notedown plugin by default whenever you run the Jupyter Notebook.
First, generate a Jupyter Notebook configuration file (if it has already been generated, you can skip this step).

```
jupyter notebook --generate-config
```

Then, add the following line to the end of the Jupyter Notebook configuration file (for Linux or macOS, usually in the path `~/.jupyter/jupyter_notebook_config.py`):

```
c.NotebookApp.contents_manager_class = 'notedown.NotedownContentsManager'
```

After that, you only need to run the `jupyter notebook` command to turn on the notedown plugin by default.

### Running Jupyter Notebooks on a Remote Server

Sometimes, you may want to run Jupyter notebooks on a remote server and access it through a browser on your local computer. If Linux or macOS is installed on your local machine (Windows can also support this function through third-party software such as PuTTY), you can use port forwarding:

```
ssh myserver -L 8888:localhost:8888
```

The above string `myserver` is the address of the remote server.
Then we can use http://localhost:8888 to access the remote server `myserver` that runs Jupyter notebooks. We will detail on how to run Jupyter notebooks on AWS instances
later in this appendix.

### Timing

We can use the `ExecuteTime` plugin to time the execution of each code cell in Jupyter notebooks.
Use the following commands to install the plugin:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable execute_time/ExecuteTime
```

## Summary

* Using the Jupyter Notebook tool, we can edit, run, and contribute to each section of the book.
* We can run Jupyter notebooks on remote servers using port forwarding.


## Exercises

1. Edit and run the code in this book with the Jupyter Notebook on your local machine.
1. Edit and run the code in this book with the Jupyter Notebook *remotely* via port forwarding.
1. Compare the running time of the operations $\mathbf{A}^\top \mathbf{B}$ and $\mathbf{A} \mathbf{B}$ for two square matrices in $\mathbb{R}^{1024 \times 1024}$. Which one is faster?


[Discussions](https://discuss.d2l.ai/t/421)

In [12]:
def greet(name,age,default="Welcome"):
  return f"{name} is {age} years old !{default}"

In [13]:
greet(age = 42,name = "rama")

'rama is 42 years old !Welcome'

In [19]:
def add_all(*nums):
  sum_values = sum(nums)
  return(sum_values)

In [20]:
add_all(1,2,3,4,5,6)

21

In [1]:
name = "Michael Jackson"

print(name[0:4])

Mich

In [2]:
def add(x, y):
    return x + y
print(add(3, 5))

8

In [3]:
for i in range(3):

    print(i)

0
1
2

In [7]:
%load_ext sql
%sql sqlite:///:memory:  # Connect to an in-memory SQLite database

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Connect to an in-memory SQLite database]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
%%sql
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT,
    price REAL
);

%%sql
INSERT INTO products (product_name, price) VALUES ('Laptop', 1200.00);
INSERT INTO products (product_name, price) VALUES ('Mouse', 25.00);

%sql SELECT * FROM products;

 * sqlite:///:memory:
Done.
(sqlite3.OperationalError) near "%": syntax error
[SQL: %%sql
INSERT INTO products (product_name, price) VALUES ('Laptop', 1200.00);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
!pip install pandasql
# Set-up
%load_ext sql
%sql sqlite://
import pandas as pd
from pandasql import sqldf

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from pandasql) (2.0.43)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->pandasql) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26773 sha256=d13f74a6efdad746331a29bd13f9ef1410aaa6f43f3ad1168a6cba2e4a6daf29
  Stored in directory: /root/.cache/pip/wheels/15/a1/e7/6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
# Create database tables from CSV files

with open('sample_data/StockDetails.csv') as f: StockDetails = pd.read_csv('sample_data/StockDetails.csv', encoding='unicode_escape', index_col=0)
%sql drop table if exists StockDetails;
%sql --persist StockDetails

 * sqlite:///:memory:
Done.
 * sqlite:///:memory:

'Persisted stockdetails'

In [21]:
q = """
SELECT * FROM StockDetails WHERE DESCRIPTION like '%T-LIGHT%'
"""
result_df = sqldf(q)
print(result_df)

   StockCode                          Description
0      22809              SET OF 6 T-LIGHTS SANTA
1      84347  ROTATING SILVER ANGELS T-LIGHT HLDR
2      84945   MULTI COLOUR SILVER T-LIGHT HOLDER
3      22808      SET OF 6 T-LIGHTS EASTER CHICKS
4      22178      VICTORIAN GLASS HANGING T-LIGHT
5      84949        SILVER HANGING T-LIGHT HOLDER
6      22807         SET OF 6 T-LIGHTS TOADSTOOLS
7     72351A   SET/6 TURQUOISE BUTTERFLY T-LIGHTS
8     72351B       SET/6 PINK  BUTTERFLY T-LIGHTS
9     85170C       SET/6 EAU DE NIL BIRD T-LIGHTS
10     22893       MINI CAKE STAND T-LIGHT HOLDER
11     23057     BEADED CHANDELIER T-LIGHT HOLDER
12     23056    FLOWERS CHANDELIER T-LIGHT HOLDER
13     23055      IVORY CHANDELIER T-LIGHT HOLDER
14     71459       HANGING JAM JAR T-LIGHT HOLDER
15     84755  COLOUR GLASS T-LIGHT HOLDER HANGING
16     72586    SET OF 6 HALLOWEEN GHOST T-LIGHTS
17    84970L     SINGLE HEART ZINC T-LIGHT HOLDER
18    84970S    HANGING HEART ZINC T-LIGHT HOLDER
19     84978     HANGING HEART JAR T-LIGHT HOLDER
20     21666          RIDGED GLASS T-LIGHT HOLDER
21     22791         T-LIGHT GLASS FLUTED ANTIQUE
22     84946         ANTIQUE SILVER T-LIGHT GLASS
23     23273   HEART T-LIGHT HOLDER WILLIE WINKIE
24     23272    TREE T-LIGHT HOLDER WILLIE WINKIE
25     23274    STAR T-LIGHT HOLDER WILLIE WINKIE
26     23145       ZINC T-LIGHT HOLDER STAR LARGE
27     23144      ZINC T-LIGHT HOLDER STARS SMALL
28     21494       ROTATING LEAVES T-LIGHT HOLDER
29     84950       ASSORTED COLOUR T-LIGHT HOLDER
30     23086           ZINC  STAR T-LIGHT HOLDER
31     23087           ZINC  HEART T-LIGHT HOLDER
32     23483    HANGING  BUTTERFLY T-LIGHT HOLDER
33     23090         VINTAGE GLASS T-LIGHT HOLDER
34     20846    ZINC HEART LATTICE T-LIGHT HOLDER
35    85123A   WHITE HANGING HEART T-LIGHT HOLDER